/* Password container styles */
.main-container {
  background: red;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding-top: 60px; /* Adjust this value based on the height of your fixed header */
  position: relative;
}


.password-game-container {
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 50%;
  margin-top: 50px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Input styles */
.default-input {
  height: 40px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  outline: none; /* Remove the input outline on focus */
}

/* Rules container styles */
.rules-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Rule container styles */
.rule-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
}

.img {
  max-width: 100%; /* Make sure the image does not exceed the width of the container */
  height: auto;    /* Maintain the aspect ratio */
  display: block;  /* Remove any extra spacing caused by inline elements */
  margin: 0 auto;  /* Center the image horizontally within the container */
}



/*.rule-container:not(:first-child) {
  display: none; 
}

.rule-container.active-rule-container {
  display: block; 
}
*/

.rule-container:hover {
  background-color: #f9f9f9; /* Change the background color on hover */
  transform: scale(1.02); /* Slightly increase the size on hover */
}

/* Active rule container styles */
.active-rule-container {
  background-color: #daffda; /* Set background color for active rule container */
}

.rule-container.inactive-rule-container {
  background-color: #ffcccc; /* Set background color for inactive rule container */
}

/* Active rule styles */
.active-rule {
  color: green;
  font-weight: bold;
}

/* Inactive rule styles */
.inactive-rule {
  color: #555;
}

.rule-container:hover {
  background-color: #f9f9f9; /* Change the background color on hover */
  transform: scale(1.02); /* Slightly increase the size on hover */
}

/* Win message styles */
.win-message {
  color: blue;
  font-weight: bold;
}

.grade-display-container {
  width: 20%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

