/* LandingPage.css */
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-image: url('https://wallpapers.com/images/featured-full/educational-background-uygkkwviq3gbhewf.jpg') ;
  }
  
  .landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: #333; /* Dark gray text color */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #4CAF50; /* Green button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .rectangle {
    width: 700px;
    height: 500px;
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    opacity: 0.9;
  }

  .innerRect{
    border-radius: 20px;
    padding: 20px;
    background-color: whitesmoke;
    opacity: 1;
  }

  .centered-header {
    text-align: center;
  }
  
  .popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .newline{
    margin: '10px 0'
  }

  /*The username and password*/
  .inputField{
    padding: 10px;
    width: 200px;
    height: 40px;
  }

  /*The login*/
  .login{
    padding: 10px;
    background-color: lightblue;
    width: 200px;
    height: 40px;
  }

  .divPadding{
    padding: 10px;
  }


.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popupInstruction {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 1000px;
  height: 500px;
  background-image: url('https://t3.ftcdn.net/jpg/05/00/34/58/240_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg') ;
}

.close-btn {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}


  /* Customize additional styles as needed for a kid-friendly and Singapore-themed design */
  