.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
  }
  
  button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  
  .timer-container {
    margin-top: 10px;
    font-size: 14px; /* Adjust font size as needed */
  }
  